    *{
        
        box-sizing: border-box;
    }
    html{
        scroll-behavior: smooth;
    }
    
    .dayOne,.dayTwo,.dayThree,.dayFour,.dayFive{
        font-size: 0.5rem;
        color: black;
        background-color: rgb(159, 217, 255);
        border-radius: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 5%;
        text-align: center;
        height: 20rem;
    }
    body{
        font-family:'Franklin Gothic Medium';
        background: #4b6af5;
        line-height: 1.6;
        padding: 1rem;
        height: 10rem;
    }
    details summary{
        cursor: pointer;
        font-weight: bold;
    }
    