    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        font-family:'Franklin Gothic Medium';
        background: linear-gradient(to right, #74ebd5, #acb6e5);
        line-height: 1.6;
        padding-bottom: 20rem;
    }
    
    
    .tagline{
        font-style: italic;
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
    main{
        max-width: 900px;
        margin: auto;
        background-color: white;
        box-shadow: #454545;
        box-sizing: border-box;
        padding: 5rem;
        border-radius: 5rem;
        margin-bottom: 20rem;
    }
    details summary{
        cursor: pointer;
        font-weight: bold;
    }
    h2{
        color: #454545;
        margin-bottom: 1rem;
        font-family: 'Courier New', Courier, monospace;
    }
    h3{
        color: #eaeaea;
        margin-bottom: 1rem;
        text-size-adjust: 5rem;
        border-radius: 25rem;
        display: flex;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;

    }
    
    .city{
        height: 3rem;
        width: 15rem;
        text-align: center;
        font-size: 1rem;
        padding-top: 0.7rem;
        box-shadow: #000;
        border-top-left-radius: 25rem;
        border-bottom-left-radius: 25rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        flex-wrap: nowrap;
    }
    .state{
        height: 3rem;
        width: 15rem;
        text-align: center;
        font-size: 1rem;
        padding-top: 0.7rem;
        box-shadow: #000;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        flex-wrap: nowrap;
    }
    .country{
        height: 3rem;
        width: 15rem;
        text-align: center;
        font-size: 1rem;
        padding-top: 0.7rem;
        box-shadow: #000;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        flex-wrap: nowrap;
    }
    h4{
        color: #a8b1bb;
        margin-bottom: 1rem;
        text-size-adjust: 5rem;
    }
    .citySearchButton{
        width: 5rem;
        height: 3rem;
        border-bottom-right-radius: 5rem;
        border-top-right-radius: 5rem;
        box-shadow: 000;
        color: white;
        background-color: rgb(153, 153, 181);
        margin-left: 0rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;

        
    }
    .citySearchButton:hover{
        background-color: #acb6e5;
        cursor:pointer;
    }
    .oneDay,.fiveDay{
        width: 5rem;
        height: 2rem;
        border-radius: 5rem;
        box-shadow: 000;
        color: white;
        background-color: rgb(200, 200, 255);
        margin-left: 0rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .oneDay:hover,.fiveDay:hover{
        background-color: #a2b3fd;
        cursor:pointer;
    }
    footer{
        color: azure;
        font-size: small;
        size: small;
        padding-left: 2rem;
    }